<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <kantwait_Shippingtime>
            <version>0.1.0</version>
        </kantwait_Shippingtime>
    </modules>
    <global>
        <models>
            <shippingtime>
                <class>kantwait_Shippingtime_Model</class>
                <resourceModel>shippingtime_mysql4</resourceModel>
            </shippingtime>
            <shippingtime_mysql4>
                <class>kantwait_Shippingtime_Model_Mysql4</class>
                <entities>
                    <custom_quote>
                        <table>sales_quote_custom</table>
                    </custom_quote>
                    <custom_order>
                        <table>sales_order_custom</table>
                    </custom_order>
                </entities>
            </shippingtime_mysql4>
        </models>
        <helpers>
            <shippingtime>
                <class>kantwait_Shippingtime_Helper</class>
            </shippingtime>
        </helpers>
        <resources>
            <shippingtime_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shippingtime_write>
            <shippingtime_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shippingtime_read>
        </resources>
        <blocks>
            <tips>
                <class>kantwait_Shippingtime_Block</class>
            </tips>
        </blocks>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <shippingtime_options>
                                            <title>Shippingtime Sections</title>
                                        </shippingtime_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>

    </default>
</config>