<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Kantwait_Tips>
            <version>0.1.0</version>
        </Kantwait_Tips>
    </modules>
    <global>
        <events>
            <sales_quote_save_before>
                <observers>
                    <save_before>
                        <type>singleton</type>
                        <class>Kantwait_Tips_Model_Observer</class>
                        <method>saveQuoteBefore</method>
                    </save_before>
                </observers>
            </sales_quote_save_before>
            <sales_quote_save_after>
                <observers>
                    <save_after>
                        <type>singleton</type>
                        <class>Kantwait_Tips_Model_Observer</class>
                        <method>saveQuoteAfter</method>
                    </save_after>
                </observers>
            </sales_quote_save_after>
            <sales_quote_load_after>
                <observers>
                    <load_after>
                        <type>singleton</type>
                        <class>Kantwait_Tips_Model_Observer</class>
                        <method>loadQuoteAfter</method>
                    </load_after>
                </observers>
            </sales_quote_load_after>
            <sales_model_service_quote_submit_after>
                <observers>
                    <sales_model_service_quote_submit_after>
                        <type>singleton</type>
                        <class>Kantwait_Tips_Model_Observer</class>
                        <method>saveOrderAfter</method>
                    </sales_model_service_quote_submit_after>
                </observers>
            </sales_model_service_quote_submit_after>
            <sales_order_load_after>
                <observers>
                    <sales_order_load_after>
                        <type>singleton</type>
                        <class>Kantwait_Tips_Model_Observer</class>
                        <method>loadOrderAfter</method>
                    </sales_order_load_after>
                </observers>
            </sales_order_load_after>
        </events>
        <models>
            <sales>
                <rewrite>
                    <order>Kantwait_Tips_Model_Sales_Order</order>
                </rewrite>
            </sales>
            <tips>
                <class>Kantwait_Tips_Model</class>
                <resourceModel>tips_mysql4</resourceModel>
            </tips>
            <tips_mysql4>
                <class>Kantwait_Tips_Model_Mysql4</class>
                <entities>
                    <custom_quote>
                        <table>sales_quote_custom</table>
                    </custom_quote>
                    <custom_order>
                        <table>sales_order_custom</table>
                    </custom_order>
                </entities>
            </tips_mysql4>
        </models>
        <helpers>
            <tips>
                <class>Kantwait_Tips_Helper</class>
            </tips>
        </helpers>
        <resources>
            <tips_setup>
                <setup>
                    <module>Kantwait_Tips</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tips_setup>
            <tips_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tips_write>
            <tips_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tips_read>
        </resources>
        <blocks>
            <tips>
                <class>Kantwait_Tips_Block</class>
            </tips>
        </blocks>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <tips_options>
                                            <title>Tip Sections</title>
                                        </tips_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <tips_options>
            <tips_enable>
                <ENABLED>1</ENABLED>
            </tips_enable>
            <tips_label>
                <tips_options>0,1,3,5,10</tips_options>
            </tips_label>
        </tips_options>
    </default>
</config>