System->Configurarion->GENERAL->Web->Url Options->Add Store Code to Urls    YES

ALTER TABLE `sales_flat_quote_storegroup` CHANGE `deliver_starttime` `deliver_starttime` VARCHAR(30) NOT NULL DEFAULT '0' COMMENT 'deliver time from';
ALTER TABLE `sales_flat_quote_storegroup` CHANGE `deliver_starttime` `date` VARCHAR(30) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '0' COMMENT 'deliver date';
ALTER TABLE `sales_flat_quote_storegroup` CHANGE `deliver_endtime` `time_range` VARCHAR(30) NOT NULL COMMENT 'time range';
ALTER TABLE `sales_flat_quote_storegroup` CHANGE `date` `date` VARCHAR(30) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL COMMENT 'deliver date';
ALTER TABLE `sales_flat_order_storegroup` CHANGE `deliver_starttime` `date` VARCHAR(30) NOT NULL COMMENT 'deliver date';
ALTER TABLE `sales_flat_order_storegroup` CHANGE `deliver_endtime` `time_range` VARCHAR(30) NOT NULL COMMENT 'deliver time ';