<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Kantwait_Shippingmethod>
            <version>0.1.0</version>
        </Kantwait_Shippingmethod>
    </modules>
    <global>
        <models>
            <shippingmethod>
                <class>Kantwait_Shippingmethod_Model</class>
            </shippingmethod>
        </models>
        <helpers>
            <shippingmethod>
                <class>Kantwait_Shippingmethod_Helper</class>
            </shippingmethod>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <shippingmethod_options>
                                            <title>Shipping Method Sections</title>
                                        </shippingmethod_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>

    </default>
</config>