<?xml version="1.0" encoding="UTF-8"?>  
<config>  
    <modules>  
       <Luciky_Catalog>  
           <version>0.1.0</version>  
        </Luciky_Catalog>  
    </modules>  
   <global>  
        <blocks>  
            <checkout>  
               <rewrite>  
                       
               </rewrite>  
            </checkout> 

        </blocks>  
    </global>  
</config>  